body {
    width:1800px;
    height: 880px;
    background-color: red;
    background-repeat: no-repeat;
    background-size: 100%;
}

#game{
    display: flex;
    background-color: violet;
}

#main-game-panel{
    height: 880px;
    width: 80%;
    background-color: green;
}

#left-options{
    display: flex;
    height:880px;
    width:20%;
    background-color: blue;

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style-type: none;

        li{
           
            margin-top:6%;
            margin-bottom:5%;
            width:90%;
            text-align: center;
            text-decoration: none;

            button {
                height: 80px;
                width: 100%;
                font-size:36px;
            }
        }
    }
}